.scroll-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 15px;
}


.scroll-container::-webkit-scrollbar {
    height: 8px;
}
.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


body {
    background-image: url("https://wallpapers.com/images/hd/star-wars-landscape-2392-x-1080-lfz3lh6paolpiyax.jpg");
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;    
    background-attachment: fixed;    
    color: #ffffff;                  
    min-height: 100vh;
}

